#login-content {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rbg(0,139,139,0.2);
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: middle;
    margin: 150px auto auto auto;
    padding: 20px;
}

#login-content > button {
    display: block;
    margin: 10px auto 40px auto;
}

/* input fields */
input {
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    margin: 2px;
    padding: 5px;
}

#login-btn {
    border: none;
    border-radius: 5px;
    width: 55%;
    background-color: darkgray;
    cursor: pointer;
    padding: 5px;
}

/* create account button */
#create-account {
    border: none;
    border-radius: 10px;
    background-color: darkcyan;
    font-size: 12px;
    padding: 2px 15px 2px 15px;
    cursor: pointer;
}

button:hover {
    color: rgb(0,0,0,0.2);
}