.document {
    background-color: lightgray;
}

#login-content {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,139,139,0.2);
    width: 300px;
    height: 375px;
    text-align: center;
    align-items: middle;
    margin: 150px auto auto auto;
    padding: 20px;
}

#login-content > button {
    display: block;
    margin: 10px auto 40px auto;
}

/* input fields */
input {
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    margin: 2px;
    padding: 5px;
}

#incorrectLoginMessage {
    color: red;
}

#login-btn {
    border: none;
    border-radius: 5px;
    width: 55%;
    background-color: darkgray;
    cursor: pointer;
    padding: 5px;
}


/* create account button */
#createAccount, #createProfileBtn {
    border: none;
    border-radius: 10px;
    background-color: darkcyan;
    font-size: 12px;
    padding: 2px 15px 2px 15px;
    cursor: pointer;
}

button:hover {
    color: rgb(0,0,0,0.2);
}

.modal {
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380;
    height: 250px;
}

/* close modal button */
#closeModal {
    float: right;
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    color: red;
    font-size: 20px;
}
#closeModal:hover {
    color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}