/* ************************ */
/* MAIN CONTENT FOR PROFILE */
/* ************************ */
.profile-content {
    grid-column: 2;
    padding: 5px;
    margin-top: -10px;
    margin-left: 5px;
}

/* Profile form */
.profile-box {
    padding: 30px 10px 50px 10px;
    background-color: rgb(169, 169, 169);
    width: 30%;
    margin-left: 25px;
}
.profile-box h4 {
    font-size: 20px;
    margin-top: -10px;
}

.profile-display, .profile-edit {
    margin-left: 50px;
}

.profile-display > p {
    padding: 5px;
    border-style: solid;
    border-color: black;
    width: 80%;
    margin-left: 15px;
    margin-top: 2px;   
}

.profile-edit > input {
    padding: 5px;
    border-style: solid;
    border-color: black;
    width: 80%;
    margin-left: 15px;
    margin-top: 2px;   
}

/* update button */
#updateProfileBtn, #saveProfileBtn, header {
    margin-left: 30%;
}

.hide {
    display: none;
}




/* ON SCREEN SIZE CHANGES */
@media (max-width: 1000px) {
    .profile-box {
        margin-inline: 50px;
        width: 50%;
    }
}